@import "../../assets/sass/variables";

header {
  background-color: $dark-bg;
  color: $hero-text;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  font-size: 2rem;
  img {
    height: 3rem;
  }
}
