<app-idea-editor (saveIdea)="addIdea($event)"></app-idea-editor>
<div class="tag-line">
  <div class="wrapper">
    There's value in having different ideas
  </div>
</div>
<app-idea-list (changeSort)="doChangeSort($event)" [ideas]="ideas$ | async" (deleteIdea)="doIdeaDelete($event)"></app-idea-list>
