<div class="wrapper">
  <ng-container *ngIf="ideas?.length === 0;">
    <p>Please add some ideas!</p>
  </ng-container>

  <ng-container *ngIf="ideas?.length > 0">
    <div class="sorter">
      <form [formGroup]="sortForm">
        <label for="sorter">Sort by : </label>
        <select id="sorter" [formControlName]="'sorter'">
          <option value="{{order.createdDate}}">Created Date</option>
          <option value="{{order.alphabetically}}">Alphabetically</option>
        </select>
      </form>
    </div>
    <ul class="ideas-list">
      <li *ngFor="let idea of ideas">
        <app-idea-display [idea]="idea" (openIdea)="openIdea($event)" (doDeleteIdea)="deleteIdea.emit($event)"></app-idea-display>
      </li>
    </ul>
  </ng-container>
</div>
