<div class="add-idea">
  <div class="wrapper">
    <div class="panel">
      <h1 *ngIf="!editMode()">Add Your Idea!</h1>
      <h1 *ngIf="editMode()">Edit Your Idea!</h1>
      <form [formGroup]="addIdeaForm" (submit)="submitForm()">
        <div class="panel-body">
          <div class="form-item">
            <input formControlName="title" placeholder="Idea Title" autofocus/>
            <span class="error" *ngIf="addIdeaForm.controls.title.dirty && addIdeaForm.controls.title.hasError('required')">Idea title is required</span>
          </div>
          <div class="form-item">
            <textarea formControlName="description" [rows]="5" placeholder="Pop your idea in here!" maxlength="140"></textarea>
            <div class="hint">Remaining : {{remainingCount}}</div>
            <span class="error" *ngIf="addIdeaForm.controls.description.dirty && addIdeaForm.controls.description.hasError('required')">You need to tell us your idea!</span>
            <span class="error" *ngIf="addIdeaForm.controls.description.hasError('maxlength')">Sorry, there is a maximum length of 140 characters for an idea</span>
          </div>
        </div>
        <div class="panel-footer">
          <button *ngIf="editMode()" type="button" (click)="doBack.emit();">Back</button>
          <button [disabled]="addIdeaForm.invalid" type="submit">Save Idea</button>
          <button *ngIf="!editMode()" (click)="addIdeaForm.reset()" type="button">Reset</button>
          <button *ngIf="editMode()" (click)="delete()" type="button">Delete Idea</button>
        </div>
      </form>
    </div>
  </div>
</div>
