<div class="panel" (click)="openIdea.emit(idea?.id)">
  <h1>{{idea?.title}}</h1>
  <p class="date">
    <span *ngIf="idea?.updatedDate">Updated : {{idea?.updatedDate | date : 'medium'}}</span>
    Created : {{idea?.createdDate | date : 'medium'}}
  </p>
  <div class="panel-body">
    <p>{{idea?.description}}</p>
  </div>
  <div class="panel-footer">
    <button type="button" (click)="deleteIdea($event)">Delete</button>
  </div>
</div>
