@import "../../assets/sass/_variables.scss";

button {
  background-color: $active-button;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:disabled {
  background-color: $disabled-button;
  color: grey;
}
