.form-item {
  input {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 0.4rem;
    font-family: Gotham, Arial, Helvetica;
    padding: 0.5rem;
  }
  textarea {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    font-family: Gotham, Arial, Helvetica;
    width: 100%;
    border: 1px solid grey;
    border-radius: 0.4rem;
    padding: 0.5rem;
  }
  margin-bottom: 1rem;
  .error {
    color: red;
    font-size: 0.8rem;
  }
  .hint {
    font-size: 0.8rem;
    text-align: right;
  }
}
.form-item:last-child {
  margin-bottom: 0;
}
