@import "../../assets/sass/variables";
.panel {
  background-color: white;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: $light-bg;
  h1 {
    margin: 0 1rem 0.5rem 1rem;
  }

  p {
    &.date {
      padding: 0 0 1rem 1rem;
      font-size: 0.7rem;
    }
  }

  .panel-body {
    padding: 0 1rem;
    p {
      font-size: 1rem;
    }
  }

  .panel-footer {
    padding: 0.5rem 1rem 0 1rem;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 10px;
    }
  }
}
